Connected Services/ServiceValidaDNI/ValidaDniWs.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ValidaDNI">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="valor" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidaDNIResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ValidaDNIResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ValidaDNISoapIn">
    <wsdl:part name="parameters" element="tns:ValidaDNI" />
  </wsdl:message>
  <wsdl:message name="ValidaDNISoapOut">
    <wsdl:part name="parameters" element="tns:ValidaDNIResponse" />
  </wsdl:message>
  <wsdl:portType name="ValidaDniWsSoap">
    <wsdl:operation name="ValidaDNI">
      <wsdl:input message="tns:ValidaDNISoapIn" />
      <wsdl:output message="tns:ValidaDNISoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ValidaDniWsSoap" type="tns:ValidaDniWsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidaDNI">
      <soap:operation soapAction="http://tempuri.org/ValidaDNI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ValidaDniWsSoap12" type="tns:ValidaDniWsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidaDNI">
      <soap12:operation soapAction="http://tempuri.org/ValidaDNI" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ValidaDniWs">
    <wsdl:port name="ValidaDniWsSoap" binding="tns:ValidaDniWsSoap">
      <soap:address location="https://localhost:44399/ValidaDniWs.asmx" />
    </wsdl:port>
    <wsdl:port name="ValidaDniWsSoap12" binding="tns:ValidaDniWsSoap12">
      <soap12:address location="https://localhost:44399/ValidaDniWs.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>